*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    background-color:#a19f9f ;
   
  }
  h1{
    margin: 10px;
    min-width: 200px;
    text-align: center;
     color: #ffffffb9; 
    font-size:50px
  }
   form{
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;

   }

   .txt{
    padding: 18px;
     margin: 20px 0px 10px 40px  ; 
    height: auto;
    background-color: #c9c6c6;
    border: solid 1px rgb(205, 205, 205);
    width: 65%;
   }
   .save{
    background-color: rgb(6, 2, 255);
    color: white;
    padding: 16px;
   
    border-radius: 2px;
    border: 1px solid rgb(151, 151, 151);
    font-size: 18px;
    width: 20%;
   }
   .save:hover{
    background: rgb(2, 2, 194);
   }
   .container {

    max-width: 900px;
    border: 10px solid rgb(119, 118, 115);
    padding: 2rem 1rem;
    margin: 25px;
    background-color: #b2b0b0;
    }  
    ul{
      
        margin-left: .5rem;
        width: 80%;
        margin-bottom: 1rem;
        background-color: #e3dfdf;
      }
      li {

        padding: 15px 20px;
        margin-bottom: 5px;
        background-color: #b7b5b5; 
        cursor: pointer;

       }

        .save-link{
         background-color: #d8d7d7;
         max-width: 750px;
         padding: 10px;
         margin: 10px;
      
         }  
             
        h2{
          text-align: center;
          color: #393838;
        }

         li.backgrund{
            background-color: #5c5b5b;
            color: white;
            cursor: pointer;
             }
         .hidden{display: none;}
          
        
